html,
body {
    min-height: 100%;
}

.hide {
    display: none;
}

main,
aside {
    position: absolute;
    height: 100%;
    overflow: auto;
}

header {
    height: 25px;
    padding: 25px 30px;
}

main {
    width: 60%;
    background: #f3f3f3;
}

main header {
    background: #16984C;
    padding-top: 20px;
    padding-bottom: 30px;
}

main header h1 {
    color: #fff;
    margin: 0;
    margin-top: 3px;
    font-size: 24px;
    float: left;
}

main header form {
    float: right;
    position: relative;
}

main header input {
    border-radius: 50px;
    font-size: 14px;
    border: 0;
    padding: 10px 15px;
    width: 200px;
}

main header input:focus {
    outline: none;
}

main header button {
    border: 0;
    background: 0;
    color: #999;
    position: absolute;
    right: 0;
    top: 0;
    padding: 9px;
    padding-right: 15px;
}

main header button:hover {
    color: #666;
}

#canvas {
    padding: 100px 50px;
}

.diagram {
    width: 500px;
    height: 500px;
    border: 2px dashed #ccc;
    margin: 0 auto;
    position: relative;
}

.diagram .placeholder {
    position: absolute;
    width: 128px;
    height: 128px;
    background: #eee;
    border-radius: 64px;
    border: 2px dashed #ddd;
}

.diagram .placeholder.filled {
    background: #f3f3f3;
    border-color: #f3f3f3;
}

.diagram .placeholder.active {
    background: #d6f0d5;
    border-color: #b2d7b1;
}

.diagram .placeholder.active img {
    opacity: 0.6;
}

.diagram img {
    width: 128px;
}

.diagram #figure-1 {
    top: -64px;
    left: -64px;
}

.diagram #figure-2 {
    top: -64px;
    right: -64px;
}

.diagram #figure-3 {
    bottom: -64px;
    left: -64px;
}

.diagram #figure-4 {
    bottom: -64px;
    right: -64px;
}

.results {
    width: 530px;
    padding: 10px;
    position: absolute;
    right: 30px;
    top: 70px;
    background: #fff;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
    border-radius: 3px;
    z-index: 1000;
}

.results img {
    margin: 10px;
    vertical-align: middle;
}

aside {
    width: 40%;
    right: 0;
    background: #222;
}

aside header {
    background: #000;
}

aside header h3 {
    color: #999;
    margin: 0;
    font-weight: normal;
}

#console .log {
    color: #aaa;
    font-family: monospace;
    font-size: 12px;
    overflow: auto;
}

#console .log h4,
#console .log pre {
    padding: 0 20px;
}

#console .log h4 {
    color: #fff;
}

#console .log pre:not(:last-child) {
    padding-bottom: 15px;
    border-bottom: 1px solid #333;
}

.toggle-console {
    display: none;
    position: absolute;
    top: 20px;
    right: 15px;
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    padding: 4px 10px;
}

@media (max-width: 1024px) {
    aside {
        display: none;
        position: fixed;
        width: 100%;
    }

    aside.active {
        display: block;
        z-index: 2000;
    }

    main {
        width: 100%;
    }

    main header form {
        position: relative;
        right: 30px;
    }

    .toggle-console {
        display: inline-block;
        z-index: 5000;
    }
}
